/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea
node_modules
frontend/public/
frontend/styles/service/sprite.scss
.vscode


# Files

*.txt
*.log
*.lock
*.xls
*.xlsx
*.csv

