{# src/AppMatrix/MatrixBundle/Resources/views/Page/about.html.twig #}
{% extends 'AppMatrixMatrixBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <section class="main-col main-col__full">
        <header>
            <h1>Веб-приложение "Matrix"</h1>
        </header>
        <article>
            <p>Данное приложение позвлолит производить рассчеты, посредствам матричных вычислений. Предварительно необходимо внести данные, заполнив формы и&nbsp;загрузив .csv файлы. Пример файла импорта: <a target="_blank" rel="nofollow" href="/upload/import_csv/Productions-sh_standart.csv">Посмотреть</a> </p>
        </article>
    </section>
{% endblock %}