{# src/AppMatrix/MatrixBundle/Resources/views/Page/index.html.twig #}
{% extends 'AppMatrixMatrixBundle::layout.html.twig' %}

{% block body %}
    <header>
        <h1>Form - Matrix</h1>
    </header>

    <p>Import your data in Matrix Application!</p>

    {{ form_start(form, { 'action': path('AppMatrixMatrixBundle_homepage'), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

    {{ form_row(form.project_name) }}


    {{ form_rest(form) }}

    <input type="submit" value="Далее" />

{% endblock %}
{% block table_project %}
    <table class="table_project">
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">Тест Тестовый тест теста тест</a></td>
            <td>22.07.2017 : 15:31</td>
            <td>22.07.2017 : 15:37</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">Тест 2</a></td>
            <td>22.07.2017 : 15:31</td>
            <td>22.07.2017 : 15:37</td>
        </tr>
    </table>
{% endblock %}